            .responseDeclaration{
                display:none
            }
            .qti-outcomes{
             visibility:hidden;
            }
            .score{
            visibility:visible;
            }